{
    "plugins": [
        "react"
    ],
    "env" : {
        "browser": true,
        "es2020" : true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions" : {
        "sourceType" : "module",
        "ecmaFeatures": {
            "jsx": true
        } 
    },
    "globals": {
        "utils": "readonly",
        "jQuery": "readonly",
        "$": "readonly"
    },
    "rules" : {
        "semi": ["error", "always"],
        "quotes": [2, "single"],
        "strict": [2, "never"],
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "react/prop-types": "off"
    }
}